body> main > main > form{
    display: flex;
    flex-direction: column;
    
    width: 60%;
}

label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #333333;
    font-size: 1.2rem;

}

label input{
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #5301BF;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    margin-bottom: 1rem;
}

label p{
    margin-bottom: 0.5rem;
}

.input_group{
    display: flex;
    justify-content: space-between;
}

.input_group label{
    width: 48%;
}

.input_group label input{
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

textarea{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #5301BF;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0.5rem;

    resize: none;
}

form > div{
    display: flex;
    justify-content: center;
}

form > div > button{
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    background-color: #02AE51;
    width: 40%;
    padding: 0.5rem;
    border-radius: 30px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    color: #FFF;
    font-size: 1.3rem;

    cursor: pointer;

}